/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#tipo{
    -fx-background-color: #FFFFFF;
}

#botonAceptar{
    -fx-background-color:#4CAF50;
}

#dialogLayout{
    -fx-background-color: #FAFAFA;
}

#botonCerrar{
    -fx-background-color: #4CAF50;
}